<!--目标-->
  <div class='target lazyload' style="background:url('__IMG__/qximg/target.jpg') no-repeat center center;" class="lazyload" data-original="__IMG__/qximg/target.jpg">
    <div class='wrapper rel' style='width:1200px;height:100%'>
      <form id='form' method='post' action='#' title=''>
        <div class='inpubox ras10 clearfix'>
          <a href='{:U("Index/offer")}' class='btns ras10'>获取极速报价</a>
        </div>
      </form>
    </div>
  </div>
<!--底部-->
  <div class='footer'>
      <div class='wrapper' style='width:70%;min-width:1250px'>
        <div class='hd clearfix'>
        <dl class='fnav_a'>
          <dt>关于同好</dt>
          <dd><a href='{:U("Index/aboutus")}' target='_blank'>同好科技</a></dd>
          <dd><a href='{:U("Index/offer")}' target='_blank'>极速报价</a></dd>
          <dd><a href='{:U("News/lists")}' target='_blank'>同好资讯</a></dd>
          <dd><a href='{:U("News/lists/cate_id/6")}' target='_blank'>项目案例</a></dd>           
        </dl>
        <dl class='fnav_b'>
          <dt>解决方案</dt>
          <dd><!-- <a href='##'> -->B2B2C商家入驻<!-- </a> --></dd>
          <dd><!-- <a href='##'> -->线上线下O2O<!-- </a> --></dd>
          <dd><!-- <a href='##'> -->分销解决方案<!-- </a> --></dd>            
        </dl>
        <dl class='fnav_c'>
          <dt>联系方式</dt>
          <dd><!-- <a href='#' target='_blank'> -->电话：0579-87173919<!-- </a> --></dd>
          <dd><!-- <a href='#' target='_blank'> -->QQ：3268644232<!-- </a> --></dd>
          <dd><!-- <a href='#' target='_blank'> -->邮箱：cooper@zctongz.com<!-- </a> --></dd>
          <dd><!-- <a href='#' target='_blank'> -->地址：永康市金都大厦27楼<!-- </a> --></dd>
        </dl>
        <div class='footer_qx r tc'>
          <div class='footer-img'>
            <img src='https://zctongz.com/Public/images/thcode.jpg'>             
          </div>            
          <p>官方微信</p>
        </div>
      </div>
      <div class='bd tc'> 
        <p>{:C('WEB_SITE_COPYRIGHT')}-{:C('WEB_SITE_ICP')}</p>  
      </div>
      </div>
  </div>    
<block name="script">
    
</block>
