<extend name="Base/common" />

<block name="header">
    <header>
        <div class="jumbotron header">
            <div class="container">
                <h1 class="ellipsis">忘记密码</h1>
                <p class="ellipsis">忘记密码通过邮箱申请重置</p>
            </div>
        </div>
    </header>
</block>

<block name="body">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <form class="form reset-form clearfix" action="__SELF__" method="post">
            <div><legend class="legend">申请重置密码</legend></div>
            <div class="form-group">
                <label class="control-label">用户名</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="请输入用户名" value="" name="username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">注册邮箱</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="请输入注册邮箱" value="" name="email">
                </div>
            </div>
            <php>if(C('WEB_SITE_VERIFY_HOME')):</php>
                <div class="form-group">
                    <label class="control-label">验证码</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                        <input type="text" class="form-control" placeholder="请输入验证码" name="verify">
                    </div>
                </div>
                <div class="form-group">
                    <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
                </div>
            <php>endif;</php>
            <div class="form-group">
                <button type="submit" class="btn btn-outline ajax-post block-xs" target-form="reset-form">发送验证邮件</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        {:Hook('SyncLogin')}
    </div>
</block>

<block name="side"></block>
