<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑邮件</h2>
    </div>
    <form action="{:U('save')}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">收件邮箱<span class="check-tips">（收件邮箱，不填默认发送全站用户）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mail_to" value='<neq name="data.mail_to" value="0">{$data.mail_to}</neq>' placeholder="所有用户">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">邮件标题<span class="check-tips">（邮件标题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$data.title}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">邮件内容 </label>
            <div class="controls">
                <label class="textarea">
                    <textarea name="body">{$data.body}</textarea>
                    {:hook('adminArticleEdit', array('name'=>'body','value'=>$data['body'],'id'=>'body'))}
                </label>
            </div>
        </div>
        <div class="form-item">
            <input type="text" class="text input-large hidden" name="id" value="{$data.id}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Mail/index')}');
    </script>
</block>
