<extend name="Base/common"/>

<block name="category">
    <ul class="nav">
        <think:nav name="nav">
            <eq name="nav.pid" value="2">
                <li>
                    <a href="{$nav|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>" 
                        <?php if($info['id'] == $nav['id']) echo 'class="active"';?>>
                        <span class="{$nav.fonticon}"></span>{$nav.title}
                    </a>
                </li>
            </eq>
        </think:nav>
    </ul>
</block>

<block name="body">
    <div class="col-xs-12 col-sm-9 document">
        <div class="title">
            <h4>{$info.title}</h4>
        </div>
        <div class="content text-justify">{$info.content}</div>
    </div>
</block>
