<extend name="Base/common"/>
<block name="content">		
    <!--banner-->
    <div id="banner" class="banner rel">
		<div class="bd">
			 <ul>
			 	<!-- <li><a href="offer.html" class="img_{0}"><img src="__IMG__/qximg/uploads/581bf8d5200c3.jpg"/></a></li>
			 	<li><a href="offer.html" class="img_{1}"><img class="lazyload1" data-original="__IMG__/qximg/uploads/581bf8bf06ed9.jpg"/></a></li>
			 	<li><a href="offer.html" class="img_{2}"><img class="lazyload1" data-original="__IMG__/qximg/uploads/581bf8b2c2536.jpg"/></a></li>
			 	<li><a href="offer.html" class="img_{3}"><img class="lazyload1" data-original="__IMG__/qximg/uploads/581bf8a0a37d8.jpg"/></a></li> -->
			 	<li><img class="lazyload1" data-original="__IMG__/pin_02.jpg"/></li>
			 	<li><img class="lazyload1" data-original="__IMG__/pin_03.jpg"/></li>
			 	<li><img class="lazyload1" data-original="__IMG__/pin_05.jpg"/></li>
			 	<li><img class="lazyload1" data-original="__IMG__/pin_06.jpg"/></li>
			</ul>
		</div>
		<div class="hd">
			<ul></ul>
		</div>
	</div>	
	<!---合伙人-->
	<div class="partner">
		<div class="wrapper">	
			<div class="hd tc">
			     <h3>值得信赖的<span>技术合伙人</span></h3>
				 <p>标准化流程，模块化开发，人性化服务，只为让您更省心</p>
			</div>
			<div class="bd clearfix">
			     <ul>
				    <li>
					    <div class="item_round ras50">
						     <img src="__IMG__/qximg/i/index_bg01.png">
						</div>
						<h3>产品</h3>
						<div class="pbox tc">
						    <p>业务流程梳理</p>
							<p>产品功能说明</p>
							<p>交互原型设计</p>
							<p>产品需求文档</p>
						</div>
					</li> 
					<li>
					    <div class="item_round ras50">
						     <img src="__IMG__/qximg/i/index_bg02.png">
						</div>
						<h3>设计</h3>
						<div class="pbox tc">
						    <p>产品LOGO</p>
							<p>应用图标设计</p>
							<p>UI界面美化</p>
							<p>标准信息注释</p>
						</div>
					</li> 
					<li>
					    <div class="item_round ras50">
						     <img src="__IMG__/qximg/i/index_bg03.png">
						</div>
						<h3>开发</h3>
						<div class="pbox tc">
						    <p>数据库架构</p>
							<p>标准接口规范</p>
							<p>H5/APP/微信开发</p>
							<p>数据安全服务</p>
						</div>
					</li> 
					<li class="m0">
					    <div class="item_round ras50">
						     <img src="__IMG__/qximg/i/index_bg04.png">
						</div>
						<h3>售后</h3>
						<div class="pbox tc">
						    <p>7*24h在线客服</p>
							<p>上架应用市场</p>
							<p>产品业务培训</p>
							<p>产品应急方案</p>
						</div>
					</li> 
				 </ul>
			</div>
		</div>
	</div>
	<!--匠心工艺-->
	<div class="oglitybox lazyload" data-original="__IMG__/qximg/bg_3f.jpg" >
	     <div class="wrapper" style="width:72%; min-width:1200px">
		      <div class="hd tc">
			     <h3>匠心打磨，拒绝平庸</h3>
				 <p>精益求精，只为追求产品的极致体验</p>
			  </div>
			  <div class="bd rel clearfix">
				  <div class="imgbox leimg l">
					  <img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/index01.gif">
				  </div>
				  <div class="imgbox cnimg">
					  <img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/index02.gif">
				  </div>
				  <div class="imgbox riimg r">
					  <img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/index03.gif">
				  </div>
			  </div>
		 </div>	
	</div>
	<!--精选案例-->
	<div class="case_box">
	    <div class="wrapper" style="width:86%;min-width:1250px">
		    <div class="hd tc">
			   	<h3>我们的能力</h3>
				<p>与上千家企业的数万次需求沟通，完美实现商业与技术的融合</p>
			</div>
			  <!-- <div class="bd">
			      <ul class="clearfix">
					  <li class="list">
						  <div class="imgbox pic"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/img_4f01.png"></div>
						  <div class="imgbox code"><img src="__IMG__/qximg/img_4f0102.png"></div>
					  </li>
					  <li class="list">
						  <div class="imgbox pic"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/img_4f02.png"></div>
						  <div class="imgbox code"><img src="__IMG__/qximg/img_4f0202.png"></div>
					  </li>
					  <li class="list">
						  <div class="imgbox pic"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/img_4f03.png"></div>
						  <div class="imgbox code"><img src="__IMG__/qximg/img_4f0302.png"></div>
					  </li>
					  <li class="list end">
						  <div class="imgbox pic"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/img_4f04.png"></div>
						  <div class="imgbox code"><img src="__IMG__/qximg/img_4f0402.png"></div>
					  </li>
				  </ul>
			  </div> -->
			<div class="grid" id="macontainer">
				<foreach name="documents" item="sample">
					<div class="grid-item">
	          			<div class="itembox"> 
	          				<a href="{:U('News/detail?type=1&id='.$sample['id'])}" target="_blank" class="title" title="{$sample.title}">{$sample.title}</a> 
	            			<!-- <div class="time">2013-10-09</div> --> 
	            			<a href="{:U('News/detail?type=1&id='.$sample['id'])}" target="_blank" title="{$sample.title}"> 
	            				<img alt="{$sample.title}" src="{$sample.cover_id|get_cover='path'}"  class="wfimg lazyload" data-original="{$sample.cover_id|get_cover='path'}"> 
	            			</a> 
	            			<a href="{:U('News/detail?type=1&id='.$sample['id'])}" target="_blank">
	            			{$sample.description}…       
	        				</a> 
	        			</div>
	          			<div class="itemtips">
	            			<p>
	                    		<a href="{:U('News/detail?type=1&id='.$sample['id'])}" title="{$sample.tags}">{$sample.tags}</a>
	                		</p>
	          			</div>
	    			</div>
    			</foreach>
			</div>
		</div>
		<div class="link"><a class="bnts loadmore" href="{:U('News/lists/cate_id/6')}">查看更多</a></div>
	</div>
	<!--share/共享-->
	<div class="share_box">
	   <div class="wrapper" style="width:80%;min-width:1250px">
		      <div class="hd tc">
			     <h3>整合资源，与您共享</h3>
				 <p>对接投融资，代运营，股权合作，商业联盟</p>
			  </div>
			  <div class="bd">
			       <ul class="clearfix">
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo01.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo02.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo03.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo04.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo05.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo06.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo07.jpg"></li>
					   <li class="list"><img class="lazyload" src="__IMG__/qximg/gray2.png" data-original="__IMG__/qximg/jplo08.jpg"></li>
				   </ul>
			  </div>
		 </div>
	</div>
	<!--统计-->
	<div class="totalbox">
	     <div class="wrapper" style="width:1240px">
		      <ul class="clearfix">
			     <li class="tolist">
				     <span><em id="nusg" rel="50">0</em><i>+</i></span>
					 <p>战略合作伙伴</p>
				 </li>
				 <li class="tolist">
				     <span><em id="nusg2" rel="50" >0</em><i>+</i></span>
					 <p>合作供应商</p>
				 </li>
				 <li class="tolist">
				     <span><em id="nusg3" rel="200">0</em><i>+</i></span>
					 <p>百余款开发应用</p>
				 </li>
				 <li class="tolist mt0">
				     <span><em id="nusg4" rel="300">0</em><i>+</i></span>
					 <p>服务百余家企业</p>
				 </li>
			  </ul>
		 </div>		 
	</div>
	
</block>
<block name="script">
	<script src="__JS__/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="__JS__/masonry.pkgd.min.js"></script>

	<script>
	var container = $('#macontainer');

	imagesLoaded(container,function(){
		container.masonry({
			itemSelector : '.grid-item',
			columnWidth: 326
		});
	});
	$(document).ready(function($) {	
		
		//轮播
		var pahe=$(window).height()-90;					
		$("#banner").slide({
			titCell:".hd ul",
			mainCell:".bd ul",
			effect:"leftLoop", vis:"auto", scroll:1,
			trigger:"mouseover",
			mouseOverStop:true,
			autoPage:true,
			autoPlay:true,
			delayTime:500,
			startFun:function(i,c){
//				var img = $('#banner .lazyload1').eq(i);
//				if(img.attr('data-original') && img.attr('src')!=img.attr('data-original')){
//					img.attr('src',img.attr('data-original'));
//				}

			}
		});
		$('#banner .lazyload1').each(function(){
			$(this).attr('src',$(this).attr('data-original'))
		})
	
	    //鼠标移入
		$(".item_round,.case_box .list").mouseover(function(){
		  $(".item_round,.case_box .list").removeClass('on');
		  $(this).addClass('on'); 
		});	
		$(".item_round,.case_box .list").mouseout(function(){
		  $(".item_round,.case_box .list").removeClass('on');
		});		
		
		//合计			
		  $(window).scroll(function() {
			   var he=$(window).height()/2+200;	
			   var hdg = $(".totalbox").offset().top-he;			  
			   if($(window).scrollTop()>=hdg){
				 $(".totalbox").trigger("appear");
			   }else{
				   return false;
			   }
			 })	
		 $(".totalbox").one("appear",function(){			 
		   changeNum("#nusg");
		   changeNum("#nusg2");
		   changeNum("#nusg3");
		   changeNum("#nusg4");
		  });

		$(".lazyload").lazyload({effect: "fadeIn"});
		  
		  if (document.all && !window.setTimeout.isPolyfill) {  
			  var __nativeST__ = window.setTimeout;  
			  window.setTimeout = function (vCallback, nDelay /*, argumentToPass1, argumentToPass2, etc. */) {  
				var aArgs = Array.prototype.slice.call(arguments, 2);  
				return __nativeST__(vCallback instanceof Function ? function () {  
				  vCallback.apply(null, aArgs);  
				} : vCallback, nDelay);  
			  };  
			  window.setTimeout.isPolyfill = true;  
		  } 
		  if (document.all && !window.setInterval.isPolyfill) {  
			  var __nativeSI__ = window.setInterval;  
			  window.setInterval = function (vCallback, nDelay /*, argumentToPass1, argumentToPass2, etc. */) {  
				var aArgs = Array.prototype.slice.call(arguments, 2);  
				return __nativeSI__(vCallback instanceof Function ? function () {  
				  vCallback.apply(null, aArgs);  
				} : vCallback, nDelay);  
			  };  
			  window.setInterval.isPolyfill = true;  
			}  
		  
		  
			function changeNum(btn){			     	
				 var obj=$(btn);			 
				 var gu=obj.attr('rel')-1;
				 //alert(gu);
				 var ghs=obj.html();			
				 if(ghs<=gu){			 
					 var sf=gu*3;	
					 //alert(sf);
					 var t;
					 if(sf){			
						 t = setTimeout(changeNum,(5000/sf),btn);
					 }else{
						t = setTimeout(changeNum,(5000/100),btn);
						 }
					 var a =obj.html();									
						 a++;			 
					 if(a>gu){
						  clearTimeout(t);
						  
					  }					
					 obj.html(a);
					 						
				 }else{
					 return false;
				 }
			};	
		
	});
	</script>
	<!--
	<script type="text/javascript">
      $(function(){
        var $loadMore = $('.loadmore');
        var page = 1;
        var url = '{:U("Index/index")}';
        var isEnd = false;

        $loadMore
        .on('click', function(e){
          if (!isEnd) {
            $.ajax({
              url: url,
              type: 'get',
              data: {page:page},
              success: function(data){
                if (data.status == 1) {
                  $.each(data.data, function(index, item){
	    			var _html = '<div class="grid-item"><div class="itembox">';
	    			var _html += '<a href="'+item.link+'" target="_blank" class="title" title="'+item.title+'">'+item.title+'</a>';
	    			var _html += '<a href="'+item.link+'" target="_blank" class="title" title="'+item.title+'">';
	    			var _html += '<img alt="'+item.title+'" src="'+item.imgurl+'" class="wfimg lazyload" data-original="'+item.imgurl+'"></a>';
	    			var _html +=  '<a href="'+item.link+'" target="_blank" class="title" title="'+item.title+'">'+item.description+'</a></div>';
	    			var _html += '<div class="itemtips"><p>';
	    			var _html += '<a href="'+item.link+'" target="_blank" class="title" title="'+item.title+'">集团</a>';
	    			var _html += '</p></div></div>';

                    $('#macontainer').append(_html);
                  });
                  page++;
                  if (data.is_end == 1) {
                    $('.loadmore').text('加载完毕').removeClass('loadmore');
                    isEnd = true;
                  };
                };
              },
              error: function(data){}
            });
          };
        });
        
    });
  </script>
	-->
</block>
